<html>
  <head>
    <title>IMOVEIS ABANDONADOS - SP</title>
    <style type="text/css">
      html, body, #basicMap {
          width: 800;
          height: 600;
          margin: 10;
      }
    </style>

    <script src="http://openlayers.org/api/OpenLayers.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script>
      $(window).load(function(){
         var latitude = -23.55
         var longitude = -46.63

         map = new OpenLayers.Map("basicMap");
         var mapnik = new OpenLayers.Layer.OSM();
         map.addLayer(mapnik);

         var zoom = 15;
         var fromProjection = new OpenLayers.Projection("EPSG:4326"); //transform from WGS 1984
         var toProjection = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
         var lonLatPoint = new OpenLayers.LonLat(longitude, latitude).transform(fromProjection,  toProjection);

         markers = new OpenLayers.Layer.Markers("Markers");
         map.addLayer(markers);
         setMarker(lonLatPoint);

         map.setCenter(lonLatPoint, zoom);
      });

      function setMarker(lonLatPoint){

        var feature = new OpenLayers.Feature(markers, lonLatPoint);
        feature.closeBox = true;
        feature.popupClass = OpenLayers.Class(OpenLayers.Popup.AnchoredBubble, {minSize: new OpenLayers.Size(50, 180) } );
        feature.data.popupContentHTML = '<a href="/info">Mais informações</a>';
        feature.data.overflow = "hidden";

        var marker = new OpenLayers.Marker(lonLatPoint);
        marker.feature = feature;

        var markerClick = function(evt) {
          if (this.popup == null) {
              this.popup = this.createPopup(this.closeBox);
              map.addPopup(this.popup);
              this.popup.show();
          } else {
              this.popup.toggle();
          }
          OpenLayers.Event.stop(evt);
        };
        marker.events.register("mousedown", feature, markerClick);
        markers.addMarker(marker);
      }
    </script>

  </head>

  <body>
    <center>
      <h1>IMOVEIS ABANDONADOS - SP</h1>
      <br>
      <div id="basicMap"></div>
      <br>
      Explore sua cidade, informe abandonos, ajude a habitação responsável.
    </center>
  </body>
</html>
