<html>
  <head>
    <title>IMOVEIS ABANDONADOS - SP - INFORMAÇÃO</title>
  </head>
  <body>
      <h1>IMOVEIS ABANDONADOS - SP - INFORMAÇÕES </h1>
      <br>
      <h2>Endereço: {{ address }}.</h2>
      <img src="http://farm6.staticflickr.com/5148/5803410930_21e3936587_z.jpg" alt="Imagem ilustrativa!">
      <br>
      Informações sobre o edifício vêm aqui...
      <ul>
        <li>BLA BLA BLA</li>
        <li>BLE BLE BLE</li>
        <li>BLI BLI BLI</li>
      </ul>
      <br>
      <a href="/">Voltar ao Mapa!</a>
  </body>
</html>
