<html>
  <head>
    <title>IMOVEIS ABANDONADOS - SP - INFORMAÇÃO</title>
  </head>
  <body>
      <h1>IMOVEIS ABANDONADOS - SP - INFORMAÇÕES </h1>
      <br>
      <h2>Endereço: {{ address }}.</h2>
      {% if photo %}
          <img src="{{ photo }}" alt="Imagem ilustrativa!">
      {% else %} 
          <img src="http://www.clker.com/cliparts/7/L/Y/h/C/i/image-not-available-hi.png" alt="Foto inexistente!">
      {% endif %}
      <br>
      Informações sobre o edifício vêm aqui...
      <ul>
        <li>BLA BLA BLA</li>
        <li>BLE BLE BLE</li>
        <li>BLI BLI BLI</li>
      </ul>
      <br>
      Você tem alguma informação sobre este imóvel? <a href="/task/{{ task_id }}">Ajude clicando aqui!</a>
      <br>
      <a href="/">Voltar ao Mapa!</a>
  </body>
</html>
